<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Cryptocurrency movement</title> 
    <link rel="stylesheet" href="/static/css/pico.css"> 
    <link rel="stylesheet" href="/static/css/styles.css"> 
</head> 
<body> 
    <header> 
        <nav aria-label="breadcrumb" class="container">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/purchase">Purchase</a></li>
              <li><a href="/status">Status</a></li>             
            </ul>
          </nav>
         
    </header>
    <section class="container">
       {% block pageBase%} {# here will go my HTML template #}
 
       {% endblock %} 
    </section> 
    <footer> 
        <div class="container"> 
            &copy; 2023 all rights reserved 
        </div> 
    </footer> 
</body> 
</html> 
