<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Cryptocurrency movement</title> 
    <link rel="stylesheet" href="/static/css/pico.css"> 
    <link rel="stylesheet" href="/static/css/styles.css"> 
    <link rel="stylesheet" href="/static/css/cripto.css">

    <script type='text/javascript'>
        $(window).load(function(){
        var valorToSelect = document.getElementById("to_select").value;
      
         if(valorToSelect !='Select cryptocurrency') {        
              document.getElementById("btBuy").disabled = false;
            } 
      
          $('#to_select').change(function() {
            if($(this).val() !='Select cryptocurrency') {        
              document.getElementById("btBuy").disabled = false;
              document.getElementById("btCalculate").disabled = false;
              
            } else {
              document.getElementById("btBuy").disabled = true;
              document.getElementById("btCalculate").disabled = true;
            }   
          });
        });
        
        </script>
</head> 
<body> 
    <header> 
        <nav aria-label="breadcrumb" class="container">
            <ul>
              {% if breadcrumb == "index" %}
              <li><u class="breadcrumb-item" style="cursor: pointer;">index </u> </li>
              {% else %}
              <li><a href="/" >index</a></li>
              {% endif %}

              {% if breadcrumb == "purchase" %}
              <li><u class="breadcrumb-item" style="cursor: pointer;">purchase </u> </li>
              {% else %}
              <li><a href="/purchase" >purchase</a></li>
              {% endif %}

              {% if breadcrumb == "status" %}
              <li><u class="breadcrumb-item" style="cursor: pointer;">status </u> </li>
              {% else %}
              <li><a href="/status" >status</a></li>
              {% endif %}           
            </ul>
          </nav>
         
    </header>
    <section class="container">
       {% block pageBase%} 

       {# here will go my HTML template #}
 
       {% endblock %} 
    </section> 
    <footer> 
        <div class="container"> 
            &copy; 2023 all rights reserved 
        </div> 
    </footer> 
</body> 
</html> 
