{% extends "base.html" %}
{% block pageBase %}
<h1>cryptocurrency movement</h1>
{{message}}

    <table style="width:100%">
        <thead> 
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>From</th>
                <th>Q</th>
                <th>To</th>
                <th>Q</th>
                <th>PU</th>
            </tr>
        </thead>
        <tbody>
        {% for item in reg %}
            <tr>                
                <td>{{item.date}}</td>
                <td>{{item.time}}</td>
                <td>{{item.moneda_from}}</td>
                <td>{{item.cantidad_from}}</td>
                <td>{{item.moneda_to}}</td>
                <td>{{item.cantidad_to}}</td>
                <td>{{item.cantidad_from / item.cantidad_to}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {% endblock %}