<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimientos</title>
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            Cripto move
        </div>
    </header>
    <section>
        <h2>Here is section block</h2>
    </section>
    <footer>
        <div class="container">
            &copy; 2020 Todos los derechos reservados
        </div>
    </footer>
</body>
</html>