{% extends "base.html" %}
{% block pageBase %}

<h1>Purchase of cryptocurrencies</h1>
{{fecha}}
<form action="/purchase" method="POST">
  <div class="form-columns">
    <div class="form-column" style="float: left; width: 50%;">
      <label for="from">
        From 
        <select name="from_select" value="{{request.from_select}}" placeholder="{{pre_from}}" required style="width: 100%;">
          {% for item in my_crypto_list %}
          <option value="{{item}}">{{item}}</option>
          {% endfor %}
          <option value="{{pre_from}}" selected>{{pre_from}}</option>
        </select>
      </label>
      
      <label for="q_to">
        Quantity (q) "Cuantas monedas 'from to' quiero comprar": 
        <input value="{{q_to}}" step="0.0000001" type="number"  id="cantidad" name="quantity" placeholder="{{q_to}}" required style="width: 100%;">
      </label>
      
      <input type="submit" name="button" value="calculate" class="secondary" style="width: 100%;">
    </div>
    
    <div class="form-column" style="float: left; width: 50%;">
      <label for="to">
        To
        <select name="to_select" value="{{request.to_select}}" required style="width: 100%;">
          {% for item in all_crypt_list %}
          <option value="{{item}}" required>{{item}}</option>
          {% endfor %}
          <option value="{{pre_to}}" selected>{{pre_to}}</option>
        </select>
      </label>
      
      <label for="Q">
       el precio fromTo(rate)
        <input value="{{quantity_coins}}" type="text"  id="precompra" name="quantity_change" placeholder="{{quantity_coins}}" readonly style="width: 100%;">
      </label>

      <label for="pu">
        PU
        <input value="{{unit_price}}" type="text"  id="unit_price" name="unit_price" placeholder="{{unit_price}}" readonly style="width: 100%;">
      </label>
      Buy
      <input type="submit" name="button" value="save" style="width: 100%;">
    </div>
  </div>
</form>

{% endblock %}