{% extends "base.html" %}
{% block pageBase %}

<h1>Purchase of cryptocurrencies</h1>
{{rat}}
<div style="display: flex; justify-content: space-between;">
    <div style="width: 90%;">
      <form action="/form1">

        <div class="grid">
          <div> 
            <label for="from">From</label>
            <select id="from_to" name="from_to" required>  
              <option value="0">EUR</option>
                {% if exist %}        
                  {% for item in reg %}
                    <option value="{{item.id}}">{{item.moneda_from}}</option>                
                  {% endfor %}       
                {% endif %}   
               
            </select>     
            <label for="q" > Q  <br>
            <input type="text" id="q" name="q" placeholder="Q" required>
            </label>
          </div>
          <div>          
            <label for="to">To</label>
            <select id="to" name="to" required>           
              {% for item in all_cryp %}
                <option value="{{item.id}}">{{item.name}}</option>
              {% endfor %}                   
            </select>        
              <div> <label for="Q_to">  Q :  _________________ </label></div>
              <div> <label for="PU">   P.U: _________________ </label></div>
              <div>  <button style="margin-left: 20px; width: 70px; height: 70px;">OK</button>  </div>
          </div>
        </div>             
            <button style="margin-left: 20px; width: 70px; height: 70px;">C</button>             
    </div>
    </form>
</div>

{% endblock %}